body {
	font-family: "Open Sans", Arial, sans-serif;
}
.container {
<<<<<<< HEAD
	max-width: 940px;
	padding: 0;
=======
	max-width: 980px;
>>>>>>> 42f9036efa77a3c658c0ee21b177c9107dca6f43
}

section .container .header ul li a {
	color: #848484;
	font-size: 10px;
}

nav ul li .active, .hea {
	font-family: 'Patrick Hand', cursive;
	font-size: 15px;
	font-weight: 200;
	color: black;
	display: block;

	}
	 .nav-pills li .english:hover {
		text-decoration: none;
		color: #428bca;
	}
	nav .nav-pills li {
		position: relative;
	}
  nav ul li .hea:hover {
	color:  #fe527a;
	border-bottom: 3px solid #fe527a;
	background: #fff;
	border-radius: 0px;    
}
nav .nav-pills li  .sub-menu {
	display: none;
	position: absolute;
}
nav .nav-pills li:hover .sub-menu {
	display: block;
}
nav .nav-pills li .sub-menu li a:hover {
	color: #fe527a;
	border-bottom: 3px solid #fe527a;
   
}
nav .nav-pills li .sub-menu li a {
	color: #333;
}

/*.row .col-md-12 ul li a img {
	height: 38px;
	width: 38px;

}*/


.latest-news-login {
    padding-left: 10px;

}


.col-md-6 {
  width: 50%;
  float: left;
  position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
 .latest-news-login .latest-news {
    position: relative;
    padding: 12px 0;
    width: 300px;
    background: url(hinhanhcozy/bg.png) repeat-x left bottom ;
    margin-top: 35px;
}


 .latest-news-login .latest-news .bg-top {
    position: absolute;ute;
    top: 0;
    left: 0;
    height: 2px;
    width: 300px;
    background: url(hinhanhcozy/bg.png) ;
   
}

.latest-news-login .latest-news a {
    
    padding-left: 12px;
    padding-right: 15px;
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    font-size: 18px;
    background: none;
    color: #fff;
    text-shadow: 1px 1px 1px #fff;


}
.latest-news-login .latest-news a:hover {
	color: #a2a2a2;
	text-decoration: none;
}
  

<<<<<<< HEAD
 .content-noidung .col-md-4 .khunganh img {
	border: 5px solid #fff;

}
 .content-noidung .col-md-4 .khunganh img:hover {
=======
 .a .col-md-4 .khunganh img {
	border: 5px solid #fff;

}
 .a .col-md-4 .khunganh img:hover {
>>>>>>> 42f9036efa77a3c658c0ee21b177c9107dca6f43
	border: 5px solid #34af68;
}
 ul .icon {
	list-style: none;
	float: left;
<<<<<<< HEAD
	padding-top: 8px;
 
}
 ul .icon .anicon span {
	line-height: -10px;
}

.content-noidung .col-md-4 a {
	position: absolute;
	
}


 .content-noidung .col-md-4 .boder {
=======
	margin-top: 8px;
 
}
 ul .icon .anicon span {
	line-height: 30px;
}

.a .col-md-4 a {
	position: absolute;
	margin-left: -50px;
}


 .a .col-md-4 .boder {
>>>>>>> 42f9036efa77a3c658c0ee21b177c9107dca6f43
	
    background: url(hinhanhcozy/sprite.png) -535px -225px ;
    display: block;
    position: absolute;
    width: 35px;
    height: 28px;
<<<<<<< HEAD
     z-index: 9999;
   	top: -10px;
=======
    top: -10px;
    left: 12px;
    
    z-index: 9999;
   
>>>>>>> 42f9036efa77a3c658c0ee21b177c9107dca6f43
}

 ul li .anicon:hover {
	transform: translate(0px,3px);
}
 .content .a .col-md-4 .khunganh img {
   box-shadow: 1px 2px 5px grey;

}

<<<<<<< HEAD
.content-noidung .col-md-4 {
	padding-left: 50px;
}

=======
>>>>>>> 42f9036efa77a3c658c0ee21b177c9107dca6f43
 

 ul li span {
	padding:  5px;
	font-size: 12px;
	font-weight: bold;
}
.content-noidung {
	min-height: 210px;
    margin: 0;
    padding-top: 32px
}
<<<<<<< HEAD


 .content-noidung .col-md-8 .tieude h5 {
	color: #848484;
	font-weight: 600;
}
 .content-noidung .col-md-8 .tieude:hover {
	text-decoration: none;
}
 .content-noidung .col-md-8 .tieude h5:hover {
    
    color: #54B67C;
}
 .content-noidung .col-md-8 p {
	color: #a2a2a2
}

.content-noidung .col-md-8 {
	padding-right: 70px;
}

.row-thutu {
	width: 100%;
=======
 .a .col-md-8 .tieude h5 {
	color: #848484;
	font-weight: 600;
}
 .a .col-md-8 .tieude:hover {
	text-decoration: none;
}
 .a .col-md-8 .tieude h5:hover {
    
    color: #54B67C;
}
 .a .col-md-8 p {
	color: #a2a2a2;
>>>>>>> 42f9036efa77a3c658c0ee21b177c9107dca6f43
}

.row-thutu  .textone, .dot, .ten, .nextgo, .upnext {
	border: 1px solid #BFBFBF;
}
.row-thutu  .textone, .one, .dot, .ten, .nextgo, .upnext {
	padding: 3px 5px;
}
.row-thutu  .one {
	border: 1px solid #333;
}
.row-thutu {
	padding-left: 30px;
}
.row-thutu .ten:hover, .nextgo:hover, .upnext:hover  {
	text-decoration: none;
    
}
.row-thutu  .ten:hover, .nextgo:hover, .upnext:hover {
	border:  1px solid #333;
}
footer .container .row  ul li {
	font-size: 10px;
	margin: 3px;
	float: left;
	list-style: none;

}
footer .container .row  ul li .he-pri, .ch-li {
	color:  #848484;
}
footer .container .row  ul li .he-pri:hover, .ch-li:hover {
	text-decoration: none;
	color:   #34af68 ;

	
}

footer .container .row  {
	color: #848484;
	text-align: center;
}

footer .container .row  .col-md-8 {
	font-size: 10px;
    padding-top: 5px;
}

footer .container .row .col-md-8 p .agil:hover {
   text-decoration: none;
   color: #848484;
 }