body {
	font-family: "Open Sans", Arial, sans-serif;
}
.container {
<<<<<<< HEAD
	max-width: 940px;
	padding: 0;
=======
	max-width: 980px;
>>>>>>> 42f9036efa77a3c658c0ee21b177c9107dca6f43
}
section .container .header ul li a {
	color: #848484;
	font-size: 10px;
}

nav ul li .activer, .hea {
	font-family: 'Patrick Hand', cursive;
	font-size: 15px;
	font-weight: 200;
	color: black;
	display: block;

	}
	.header .nav-pills li .english:hover {
		text-decoration: none;
		color: #428bca;
	}
	nav .nav-pills li {
		position: relative;
	}
nav .nav-pills li .hea:hover {
	color:  #fe527a;
	border-bottom: 3px solid #fe527a;
	background: #fff;
	    border-radius: 0px;
}
nav .nav-pills li > .sub-menu {
	display: none;
	position: absolute;
}
nav .nav-pills li:hover .sub-menu {
	display: block;
}
nav .nav-pills li .sub-menu li a:hover {
	color: #fe527a;
	border-bottom: 3px solid #fe527a;
   
}
nav .nav-pills li .sub-menu li a {
	color: #333;
}



.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 60%;
      margin: auto;
  }
  
.b1  p {
	font-family: cursive;
	font-size: 12px;
	line-height: 2em;
}

.no-text {
	padding: 30px;

}


/*.b2 .col-md-6 .addthis {
    
    background: url(hinhanhcozy/mota.gif) 0 0;
    position: relative;
}
.b2 .col-md-6 .addthis .button {
	position: absolute;*/

.icon {
	fill: #fff;
}

.mangxahoi a .icon-facebook {
	background: rgb(59, 89, 152);
}


.mangxahoi a .icon-twi {
	background-color: rgb(29, 161, 242);
}

.mangxahoi a .icon-thu {
	background-color: rgb(132, 132, 132);
}

.mangxahoi a .icon-p {
	background-color: rgb(203, 32, 39);
}

.mangxahoi a .icon-them {
	background-color: rgb(255, 101, 80);
}


.b2  {

	margin: 30px -40px;

}
.b2  ul {

}

.b2  ul .mangxahoi {
	float: left;
	list-style: none;
	padding: 0px 2px;
}



.b2  ul .mangxahoi .submenu {
	width: 150px;
	padding: 0
	background: #FAFAFA;
	border: 1px solid #cccccc;
	display: none;

}

.b2  ul .them:hover .submenu {
	display: block;
	background: #fff;
}

.b2  ul .mangxahoi .submenu li {
	list-style: none;
	padding: 0 5px;
	width: auto;
	height: 25px;
	margin-left: -41px;
	line-height: 25px;

}

.b2  ul .mangxahoi .submenu li a {
	margin-left: 18px;
	text-transform: capitalize;
	font-size: 12px;
	font-family: 
}

.b2  ul .mangxahoi .submenu li a:hover {
	text-decoration: none;
	color: #fff;

}

.b2  ul .mangxahoi .submenu li:hover {
	background: rgb(29, 161, 242);
	cursor: pointer;
	
}

.b2  ul  .submenu .bbq {
	display: block;
}

.addthis_counter.addthis_bubble_style {
	
	margin: 0 0 0 -2px;
    text-align: center;
    font-weight: 700;
    font-family: arial,helvetica,sans-serif;
    color: #000;
}
.addthis_counter.addthis_bubble_style .addthis_button_expanded {
	background: url(hinhanhcozy/mota.gif) 0px 0px;
	width: 46px;
	display: block;

}


#list {
    position: relative;
}

#list li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
}



#list a {
	text-align: center;
	line-height: 32px;
	font-size: 15px;
	font-weight: 600;
	color: #585858;
}

#list li, #list a {
    height: 32px;
    display: block;
}

#home {
    left: 180px;
    width: 62px;
    background: url('hinhanhcozy/mota.gif') 0 0px;
}
#home a:hover {
background: url('hinhahcozy/mota.gif')  0 -32px;
	text-decoration: none;
	color: #000000;
}

footer .container .row  ul li {
	font-size: 10px;
	margin: 3px;
	float: left;
	list-style: none;

}
footer .container .row  ul li .he-pri, .ch-li {
	color:  #848484;
}
footer .container .row  ul li .he-pri:hover, .ch-li:hover {
	text-decoration: none;
	color:   #34af68 ;

	
}

footer .container .row  {
	color: #848484;
	text-align: center;
}

footer .container .row  .col-md-8 {
	font-size: 10px;
    padding-top: 5px;
}

footer .container .row .col-md-8 p .agil:hover {
   text-decoration: none;
   color: #848484;
 }