body {
	font-family: "Open Sans", Arial, sans-serif;
}
.container {
	max-width: 940px;
	padding: 0;
}
section .container .header ul li a {
	color: #848484;
	font-size: 10px;
}

nav ul li .activer, .hea {
	font-family: 'Patrick Hand', cursive;
	font-size: 15px;
	font-weight: 200;
	color: black;
	display: block;

	}
	.header .nav-pills li .english:hover {
		text-decoration: none;
		color: #428bca;
	}
	nav .nav-pills li {
		position: relative;
	}
nav .nav-pills li .hea:hover {
	color:  #fe527a;
	border-bottom: 3px solid #fe527a;
	background: #fff;
	    border-radius: 0px;
}
nav .nav-pills li > .sub-menu {
	display: none;
	position: absolute;
}
nav .nav-pills li:hover .sub-menu {
	display: block;
}
nav .nav-pills li .sub-menu li a:hover {
	color: #fe527a;
	border-bottom: 3px solid #fe527a;
   
}
nav .nav-pills li .sub-menu li a {
	color: #333;
}

.container .ba-gr .title {
	
  	padding: 25px 0 10px 30px;
    font-size: 36px;
   
   
    color: #a8736f;
    font-family: sans-serif;
    
 
}

.container .content-img  .col-md-3 .gallery {
	 margin: 5px;
    border: 1px solid #eee;
    width: 200px;
    height: 300px;
   
}
.container .content-img  .col-md-3 .gallery img {
	
	height: auto;
	width: 100%;
	
}
.container .content-img  .col-md-3 .gallery .desc h5 {
	text-align: center;
	line-height: 44px;
	padding: 15px;
	color: #444;
	font-family: Arial;
    font-weight: 600;
	}
.container .content-img  .col-md-3 .gallery h5:hover {
		
		color: #FF0040;
	}
.container .content-img  .col-md-3 .gallery .desc a:hover {
		text-decoration: none;

	}
.container .content-img .col-md-3 .gallery a:hover img {
	
    opacity: 0.4;
    
}
.container .content-img  .col-md-3 .gallery a {
	position: relative;
	
}
.container .content-img  .col-md-3 .gallery .link {
	background: #e50051 url(hinhanhcozy/link.png);
	width: 30px;
	height: 30px;
	top: 0px;
	left:75px;
	opacity: 0;
    position: absolute;
    
}
.container .content-img .col-md-3 .gallery a:hover .link {
	opacity: 1;
}









footer .container .row  ul li {
	font-size: 10px;
	margin: 3px;
	float: left;
	list-style: none;

}
footer .container .row  ul li .he-pri, .ch-li {
	color:  #848484;
}
footer .container .row  ul li .he-pri:hover, .ch-li:hover {
	text-decoration: none;
	color:   #34af68 ;

	
}

footer .container .row  {
	color: #848484;
	text-align: center;
}

footer .container .row  .col-md-8 {
	font-size: 10px;
    padding-top: 5px;
}

footer .container .row .col-md-8 p .agil:hover {
   text-decoration: none;
   color: #848484;
 }