

body {
	font-family: arial;
	font-size: 12px;
	line-height: 1.4em;
	background: #ECE9E9;
}


a {
    color: #333;
    text-decoration: none; 
}
.icon-bar  {
	margin-top:8px; 
}
.iconapp {
	margin-top: 8px;
}
 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 60%;
      margin: auto;
  }
 .menu ul {
			background: #e2dcdc;
			margin:0px;
		padding: 0px;
		width:165px;
		list-style: none;
		border-left: 1px solid #c00;
       
		   }
.menu li a {
         	   color: #7c7777;
         	   text-align: left;
         	   padding: 12px;
         	   font-size: 15px;
         	   text-decoration: none;
         	   display: block;
         	   background: #ECE9E9;
           }

.menu li a:hover {
         	background-color:transparent;
         	color: #a50808;

         }
.category {
    font-size: 14px;
    padding: 16px 10px;
    background: #e5e5e5;
    color: #333;
}
 .navbar-nav {
 	padding-right: 200px;
 } 
  .navbar-default {
 	background: #D8D8D8;
 	border: none;
    height: 40px;
 } 
 .nav-tabs {
 	margin-top: 5px;
 	height: 50px
 	border:none;
 } 
 .current  {
 	border-bottom: 2px solid red;
 
 }
 .nav-tabs li a {
 	font-size: 14px;
 }
 .pristine {
 	margin: 10px 10px 0 0;
 	height: 30px;
 	width: 130px;
 	float: right;
  font-size: 14px;
 }
 
 option {display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    font-size: 14px
 }
 .font-size {
 	font-size: inherit;
  font-size: 14px;
 }
.affix {
      top:0;
      width: 70%;
      z-index: 9999 !important;
    }
.menu .affix {
  top: 20px;
} 
.caption a {
  
  font-weight: 700;
  font-size: 15px;  
 
}
.img-thumbnail {
  border: none;
} 
.caption a .anchu {
  overflow: hidden;
}
.thumbnail  p {
  white-space: nowrap;
  text-overflow: ellipsis;
   overflow: hidden;
  color: #888;
}
.caption-footer .text-left {
  margin-left: 15px;
  word-spacing: 13px;
  font-size: 19px;
  
}
 .footer-categories {
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;

   }
.col-md-3 ul li {
  font-size: 12px;
  
  padding: 5px;
}	
.col-md-3 ul {
  margin: 10px;
  list-style: none;
  padding: 0px;
 }
.footer-content .footer-down {
  font-weight: 900;
  font-size: 15px;
}
.footer-content {
  padding: 5px 0;
  border-bottom: 1px solid #888;
}
.footer-title img {
  display: block;
}
.footer-title span {

}
.footer-up {
  color: #888;
}
.footer-ketthuc {
  text-align: center;
}