body {
	font-family: "Open Sans", Arial, sans-serif;
}
.container {
	max-width: 940px;
}

nav ul li .activer, .hea {
	font-family: 'Patrick Hand', cursive;
	font-size: 15px;
	font-weight: 200;
	color: black;
	display: block;

	}
	.header .nav-pills li .english:hover {
		text-decoration: none;
		color: #428bca;
	}
	nav .nav-pills li {
		position: relative;
	}
nav .nav-pills li .hea:hover {
	color:  #fe527a;
	border-bottom: 3px solid #fe527a;
	background: #fff;
	    border-radius: 0px;
}
nav .nav-pills li > .sub-menu {
	display: none;
	position: absolute;
}
nav .nav-pills li:hover .sub-menu {
	display: block;
}
nav .nav-pills li .sub-menu li a:hover {
	color: #fe527a;
	border-bottom: 3px solid #fe527a;
   
}
nav .nav-pills li .sub-menu li a {
	color: #333;
}


.row .col-md-12 ul li a img {
	height: 38px;
	width: 38px;

}


.latest-news-login {
    padding-left: 10px;

}


.col-md-6 {
  width: 50%;
  float: left;
  position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
 .latest-news-login .latest-news {
    position: relative;
    padding: 12px 0;
    width: 300px;
    background: url(hinhanhcozy/bg.png) repeat-x left bottom ;
    margin-top: 35px;
}


 .latest-news-login .latest-news .bg-top {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 300px;
    background: url(hinhanhcozy/bg.png) ;
   
}

.latest-news-login .latest-news a {
    
    padding-left: 12px;
    padding-right: 15px;
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    font-size: 18px;
    background: none;
    color: #fff;
    text-shadow: 1px 1px 1px #fff;


}
.latest-news-login .latest-news a:hover {
	color: #a2a2a2;
	text-decoration: none;
}
  

.row .col-md-12 .a .col-md-4 .khunganh img {
	border: 5px solid #fff;

}
.row .col-md-12 .a .col-md-4 .khunganh img:hover {
	border: 5px solid #34af68;
}
.row .col-md-12 ul .icon {
	list-style: none;
	display: inline-table;
	margin-top: 8px;
 
}
.row .col-md-12 ul .icon .anicon span {
	line-height: 30px;
}
.row .col-md-12 .a .col-md-4 .boder {
	
    background: url(hinhanhcozy/sprite.png) -535px -225px ;
    display: block;
    position: absolute;
    width: 35px;
    height: 28px;
    top: -10px;
    left: 12px;
    text-indent: -999px;
    z-index: 9999;
   
}

.row .col-md-12 ul li .anicon:hover {
	transform: translate(0px,3px);
}
.row .col-md-12 .content .a .col-md-4 .khunganh img {
   box-shadow: 1px 2px 5px grey;

}

.row .col-md-12 ul li span {
	padding:  5px;
	font-size: 12px;
}
.a {
	padding: 30px 15px;
	margin-left: 40px
}
.col-md-12 .a .col-md-8 .tieude h5 {
	color: #848484;
	font-weight: 600;
}
.col-md-12 .a .col-md-8 .tieude:hover {
	text-decoration: none;
}
.col-md-12 .a .col-md-8 .tieude h5:hover {
    
    color: #54B67C;
}
.col-md-12 .a .col-md-8 p {
	color: #a2a2a2;
}
.row-thutu .col-md-12 .q, .e, .r, .t, .y {
	border: 1px solid #BFBFBF;
}
.row-thutu .col-md-12 .q, .w, .e, .r, .t, .y {
	padding: 3px 5px;
}
.row-thutu .col-md-12 .w {
	border: 1px solid #333;
}
.row-thutu .col-md-12 {
	margin-left: 50px;
}
.row-thutu .col-md-12 .r:hover, .t:hover, .y:hover  {
	text-decoration: none;
    
}
.row-thutu .col-md-12 .r:hover, .t:hover, .y:hover {
	border:  1px solid #333;
}
footer .container .row .col-md-12 ul li {
	font-size: 10px;
	margin: 3px;
	float: left;
	list-style: none;
}
footer .container .row .col-md-12 .col-md-4 ul li .he-pri:hover, .ch-li:hover {

	text-decoration: none;
    color: #34af68;
}

footer .container .row .col-md-12 {
	color: #848484;
	text-align: center;
}

footer .container .row .col-md-12 .col-md-8 {
	font-size: 10px;
    padding-top: 5px;
}

footer .container .row .col-md-12 .col-md-8 p .agil:hover {
   text-decoration: none;
   color: #848484;
}

